nav > a {
    color: crimson;
    text-decoration: none;
    position: relative;
}

nav > a span {
    background-color: crimson;
    height: 2px;
    width: 100%;
    top: 20px;
    left:0;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav > a:hover span {
    transform: scaleX(1);
    transform-origin: center;
}

.about > blockquote {
    background: #eaeaea;
}

.users > span {
    font-weight: bold;
}

.users p span:nth-child(2) {
    color: crimson;
}

.creators a.link
{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.creators a.font {
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cta h2{
    color: crimson;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.cta ul li:nth-child(odd) {
    text-decoration-line: underline;
}

